<div class="container padding">
  <div class="ad">
    <%= link_to "Get the best for your pet on Amazon", "https://amzn.to/2ObxQix" %>
  </div>
  <div class="small center">
    Built in Buffalo, New York, United States, Earth
  </div>
</div>